* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
}

.logo > img {
  padding-bottom: 5px;
}

/* .grid-col-2
{
  grid-template-columns: 1fr 1fr;
} */

body {
  padding: 0 20px;
  font-family: "Bungee", cursive;
}

header {
  color: #7944e6;
}

nav {
  display: flex;
  width: 100%;
  margin: 5px 0;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  font-size: 12px;
  margin-left: 10px;
}
a:hover {
  color: #10fdff;
}

.logo {
  height: 45px;
}

.icecream-truck {
  text-align: center;
}
.icecream-truck > img {
  height: 120px;
  margin-top: 35px;
}

.main {
  max-width: 75%;
  width: 50%;
  text-align: center;
  margin-left: 250px;
}

body > div > div.COFFEE > img {
  height: 200px;
}

body > div > div.CREAM > img {
  height: 200px;
}

body > div > div.COOKIE > img {
  height: 200px;
}

summary {
  color: #7944e6;
}

nav {
  width: 100%;
}

#hero {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  background-color: #ff00ff;
  line-height: 130%;
}

#hero > p {
}

.main {
  /* margin-left: 45px; */
  margin: 20px auto;
  width: 250px;
}

.card {
  margin-bottom: 25px;
  text-align: center;
  width: 250px;
  border: 6px solid #7944e6;
}

.one {
  color: #7944e6;
  text-decoration: none;
}

.cards {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
  #hero {
    flex-direction: row;
    align-items: center;
  }
  .icecream-truck > img {
    height: 225px;
    margin-right: 100px;
    margin-left: 100px;
  }

  .main {
    width: 80%;
    margin: 0 auto;
  }

  .main > div {
    margin: 20px;
  }

  ul {
    word-spacing: 5px;
  }
}
