*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid
{
  display: grid;
}

.logo > img{
  padding-bottom: 5px;
}

/* .grid-col-2
{
  grid-template-columns: 1fr 1fr;
} */

body {
font-family: Bungee;
} 

header {
    color: #7944e6; 
}

nav{
  width: 100%;
}

ul {
    list-style-type: none;
    padding-right: 2em; 
    float: right;
  margin-top: -50px; 
  word-spacing: 1em; 

  }
  
  li {
    display: inline;
    font-size: 15px;
    padding: 0 15px; 
  }
  li:hover {
    color: #10fdff 
  }

  .logo > img {
    height: 80px;
  display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 15px;

  }

.icecream-truck {
  text-align: center; 
}
  .icecream-truck > img {
    height: 120px; 
    margin-top: 35px;
 
}

  section {
    background-color: #ff00ff;
    align-items: center; 
    line-height: 130%; 
    
  }

.COFFEE {
  border: 6px solid #7944e6; 
height: 400px;

}

.main {
max-width: 75%;
width: 50%;
text-align: center;
margin-left: 250px;
}

body > div > div.COFFEE > img { 
  height: 200px;
  
}

.CREAM {
  border: 6px solid #7944e6; 
  height: 400px;

}

body > div > div.CREAM > img {
  height: 200px;
}

.COOKIE {
  border: 6px solid #7944e6;
  height: 400px;
}

body > div > div.COOKIE > img {
    height: 200px; 
}   

summary { 
  color: #7944e6; 

}


@media (min-width: 400px) {
    body {
      width: 100%;
    }
    header { 
      /* width:  45%; */ 
      width: 100%;
      font-size: 9px;
      padding: 0em;
    }

    nav{
      width: 100%
    };

    #hero {
      padding-top: 20px;
      
    }

    #hero > p {
      padding: 15px;

    }

  .main {
    /* margin-left: 45px; */
    margin: 20px auto;
    width: 250px; 
  }

  .COFFEE { 
    margin-bottom: 25px;
  }

  .CREAM {
    margin-bottom: 25px;
  }

  .COOKIE {
    margin-bottom: 25px;
  }
}

@media (min-width: 992)
{

}

@media (max-width:1280px) {
  .grid { 
    display: grid;
  }

  .grid-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  .grid-col-2 {
    grid-template-columns: 1fr 1fr;
    
  }

  .main {
    width: 80%; 
    margin: 0 auto; 
  }

  .main > div {
margin: 20px;
  }

 ul {
   word-spacing: 5px; 
 }
}